
body {
  background-color: #e5eff5;
  font-family: 'Karla', sans-serif;
}

h1 {
  margin: 2rem auto;
  text-align: center;
}

.container {
  display: grid;
  margin: 0 auto 2rem;
  background-color: white;
  box-sizing: border-box;
  width: clamp(240px, 60%, 768px);
  height: fit-content;
  overflow: hidden;
  grid-template-columns: repeat(1, 1fr);
  border-radius: .5rem;
  box-shadow: 0px 0px 15px lightgray;
}

.item {
  padding: 1.2rem 1.7rem 1.7rem;
  color: #e5eff5;
}

.item-1 {
  background-color: white;
  color: #0000004f;
}

h2 {
  font-size: 20px;
}

.item-1 h2 {
  font-size: 28px;
  font-weight: 700;
  color: #2ab2b0;
}

.item-1 .p-1 {
  color: #c0df34;
  font-weight: 700;
}

.container-item {
  display: inline-grid;
  grid-template-rows: repeat(auto-fit, minmax(fit-content, 1fr));
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.item-2 {
  background-color: #2ab2af;
}

.item-2 .p-1 {
  display: inline-flex;
  margin: 0;
  padding: 0;
}

.item-2 .p-1 span:last-of-type {
  opacity: .8;
  align-self: center;
}

.big {
  font-size: 32px;
}

.item-2 .p-2 {
  margin: .2rem;
}

.container-item button {
  background-color: #c0df34;
  color: #fff;
  border: none;
  border-radius: .4rem;
  padding: 1rem;
  margin-top: 1rem;
  width: 100%;
  box-shadow: 0px 10px 20px #00000020;
}

.item-3 {
  background-color: #2ab2b0c1;
}

.item-3 div p {
  margin: 0;
  opacity: .8;
  font-size: 12px
}